* {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  text-align: right;
  color: white;
}

html {
  font-size: 18px;
}

h1 {
  margin: 0 0 1rem;
  color: rgb(216, 252, 35);
  font-size: 2rem;
}

h2 {
  font-size: 1.2rem;
  margin: 1.5rem 0 0;
}

div {
  margin: 0 0 0.5rem;
}
p {
  margin: 0 0 0.5rem;
}

body {
  background: url(pizza.jpeg) no-repeat fixed center center/cover;
  font-family: "Roboto", sans-serif;
  font-size: medium;
}

input {
  font-size: medium;
  color: black;
}
select,
button {
  font-family: inherit;
  color: rgb(8, 8, 4);
  background-color: rgb(197, 221, 37);
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
}

button:hover {
  color: white;
  background-color: pink;
  padding: 1rem, 2rem;
  cursor: pointer;
}

#results {
  position: fixed;
  color: rgb(255, 35, 35);
  font-size: 3rem;
  border-radius: 10px;
}

span {
  color: rgb(243, 243, 134);
}

* {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  text-align: right;

  color: rgb(247, 245, 246);
}

html {
  font-size: 18px;
}

h1 {
  margin: 0 0 1rem;
  color: rgb(216, 252, 35);
  font-size: 2rem;
}

h2 {
  font-size: 1.2rem;
  margin: 1.5rem 0 0;
}

div {
  margin: 0 0 0.5rem;
}
p {
  margin: 0 0 0.5rem;
}

body {
  background: url(images/background.jpg) no-repeat fixed center center/cover;
  font-family: "Roboto", sans-serif;
  font-size: medium;
}

input {
  font-size: medium;
  color: black;
}
select,
button {
  font-family: inherit;
  color: rgb(8, 8, 4);
  background-color: rgb(197, 221, 37);
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
}

button:hover {
  color: white;
  background-color: pink;
  padding: 1rem, 2rem;
  cursor: pointer;
}

#results {
  position: fixed;
  color: rgb(255, 35, 35);
  font-size: 3rem;
  border-radius: 10px;
}

span {
  color: rgb(243, 243, 134);
}
* {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  text-align: right;

  color: rgb(247, 245, 246);
}

html {
  font-size: 18px;
}

h1 {
  margin: 0 0 1rem;
  color: rgb(216, 252, 35);
  font-size: 2rem;
}

h2 {
  font-size: 1.2rem;
  margin: 1.5rem 0 0;
}

div {
  margin: 0 0 0.5rem;
}
p {
  margin: 0 0 0.5rem;
}

body {
  background: url(images/background.jpg) no-repeat fixed center center/cover;
  font-family: "Roboto", sans-serif;
  font-size: medium;
}

input {
  font-size: medium;
  color: black;
}
select,
button {
  font-family: inherit;
  color: rgb(8, 8, 4);
  background-color: rgb(197, 221, 37);
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
}

button:hover {
  color: white;
  background-color: pink;
  padding: 1rem, 2rem;
  cursor: pointer;
}

#results {
  position: fixed;
  color: rgb(255, 35, 35);
  font-size: 3rem;
  border-radius: 10px;
}

span {
  color: rgb(243, 243, 134);
}
